<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link href="../static/css/estilo.css" rel="stylesheet" />
    <title>API Loterias</title>
    <meta charset="utf-8">
  </head>
  <body>
	<img src="../static/img/bootcamp_logo.png" alt="Imagem">

	<b><p>API de resultados de loterias</b><br>
	Criada para fins didáticos, para o <b>"Santander Bootcamp 2023"</b>.<br>
	Limitada a poucos concursos e resultados.<br></p>

	<a href="http://127.0.0.1:5000/loterias/megasena">Megasena</a><br>
	<a href="http://127.0.0.1:5000/loterias/lotofacil">Lotofácil</a><br>
	<a href="http://127.0.0.1:5000/loterias/diadesorte">Dia de Sorte</a><br>
	<a href="http://127.0.0.1:5000/loterias/quina">Quina</a><br>
	<a href="http://127.0.0.1:5000/loterias/maismilionaria">+ Milionária</a><br><br>

  </body>
</html>